cachetools
einops
ipdb
nltk
omegaconf
packaging
pytorch_lightning==2.5.1.post0
PyYAML
tqdm
sentencepiece==0.2.0
transformers==4.50.0
deepspeed==0.16.4
torch==2.7.0
peft==0.10.0
numpy
tensorboard
accelerate==0.29.3